<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="has-footer">
  <div style="margin: 30px 0 40px 0;">
    <img src="img/novo-logo-branco-transp.png" width="150" height="150" style="margin: 0 auto; display: block;">
  </div>
  <div class="list entrar-login" style="padding-left: 30px; padding-right: 30px;">
    <label class="item item-input">
        <input type="text" placeholder="CPF/CNPJ" id="email" [(ngModel)]="user.email">
    </label>
    <label class="item item-input" style="padding-right: 16px;">
        <input id="password" type="password" placeholder="SENHA" [(ngModel)]="user.password" *ngIf="!showPassword">
        <input id="password" type="text" placeholder="SENHA" [(ngModel)]="user.password" *ngIf="showPassword">
        <i class="icon ion-eye olho-login" *ngIf="!showPassword" (click)="showPassword = !showPassword"></i>
        <i class="icon ion-eye-disabled olho-login" *ngIf="showPassword" (click)="showPassword = !showPassword"></i>
    </label>
    <div style="margin: 20px 0 30px 0;">
        <p style="text-align: center; font-size: 17px;" (click)="loginUser()"><strong>ENTRAR</strong></p>
    </div>
    <div style="margin: 20px 0 30px 0;">
        <p style="text-align: center; font-size: 17px;" (click)="FBlogin()"><strong>ENTRAR COM FACEBOOK</strong></p>
    </div>
    <div style="margin: 20px 0 30px 0;">
        <p style="text-align: center; font-size: 15px;" (click)="goToForgotPasswordPage()">Esqueceu sua senha?</p>
    </div>
    <div style="margin: 40px 0 0 0;">
        <p style="text-align: center; font-size: 15px;">Dúvidas? Problemas? Entre em contato com <u (click)="sendEmail()">meajuda@appdindin.com</u></p>
    </div>
  </div>     
  <div class="bar bar-footer" (click)="goToRegisterPage()">
    <div class="title" style="color: #26d466;">Novo por aqui? <strong>CADASTRE-SE</strong></div>
  </div>
</ion-content>
