page-login {
    .entrar-login label {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
    }
    
    .entrar-login .item-content {
        background-color: transparent;
        color: white;
        border: none;
    }

    .entrar-login>label>input,
    .entrar-login>label>input::-webkit-input-placeholder {
        color: white;
    }
}
